CONFIG_TASKS=services/tasks/config/config.local.yml
CONFIG_TASKS_LOCAL=services/tasks/config/config.local.yml

TASKS_POSTGRES_HOST=localhost
TASKS_POSTGRES_HOST_LOCAL=localhost
TASKS_POSTGRES_PORT=5432
TASKS_POSTGRES_NAME=ao.fedorov
TASKS_POSTGRES_USER=ao.fedorov
TASKS_POSTGRES_PASSWORD=
TASKS_POSTGRES_SSL=disable

TASKS_POSTGRES_PORT_INTERNAL=5432
TASKS_POSTGRES_PORT_EXTERNAL=5432

TASKS_LOGGER_LEVEL=debug
